$bg-color: #333;
$text-color: #fbfbfb;

.day-card {
  width: 800px;
  background-color: $bg-color;
  padding: 0px 50px;
  margin: 0 auto;
  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #707070;
  }

  &__new-spending {
    display: flex;
    align-items: center;
  }
  &__date {
    color: $text-color;
  }
}
