$item-color: #ccc;
$date-color: #333;
$money-color: #f7fffd;
$money-bg-color: #774b4b;

@mixin flex-j-sb {
  display: flex;
  justify-content: space-between;
}

.spending-item {
  @include flex-j-sb;
  background-color: $item-color;
  border-radius: 3px;
  padding: 5px 10px;

  &_large {
    flex-flow: column;
    flex-wrap: wrap;
    width: 180px;
    margin-bottom: 20px;
    margin-right: 90px;
    font-size: 22px;
  }

  &_small {
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 12px;
  }

  &__general-info {
    @include flex-j-sb;
  }

  &__info {
    flex-grow: 1;
    text-align: center;
  }

  &__category {
    margin: 0;
  }

  &__date {
    margin: 0;
    font-size: 0.6em;
    color: $date-color;
  }

  &__title {
    flex-grow: 1;
    font-size: 0.8em;
  }

  &__money-info {
    color: $money-color;
    background-color: $money-bg-color;
    padding: 5px 10px;
    text-align: center;
  }
}
