.spendings-list {
  display: flex;

  &_large {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 10px;
    margin-right: -90px;
  }

  &_small {
    flex-flow: column;
    align-items: flex-start;
  }
}
